<%= form_for @house do |f| %>

<% if @house.errors.any? %>
<div id="error_explanation">
  <ul>
    <% @house.errors.full_messages.each do |msg| %>
    <% end %>
  </ul>
</div>
<% end %>

<p>
  <%= f.label :house_name %><br>
  <%= f.text_field :house_name %>
</p>

<p>
  <%= f.label :map %><br>
  <%= f.text_area :map %>
</p>

<p>
  <%= f.submit %>
</p>

<% end %>
